<template name="about">
  <div class="about-page">

    <section class="cover">
      <div class="title-container">
        <div class="title">Those Who Seek</div>
        <div class="title">Shall Find</div>
      </div>
    </section>

    <section>
      <a class="header">Introduction</a>
      <div>
        Waistcoat iPhone lumbersexual fixie jean shorts keffiyeh. Pinterest hoodie chia kogi affogato, lomo quinoa pitchfork. Austin brooklyn brunch, chambray farm-to-table photo booth neutra organic slow-carb ethical everyday carry celiac. Tilde stumptown quinoa, salvia lumbersexual offal knausgaard 8-bit whatever letterpress tacos typewriter. DIY YOLO knausgaard marfa, paleo keytar fixie letterpress blue bottle. Street art selfies portland, squid before they sold out fap butcher gluten-free sustainable. Single-origin coffee street art XOXO waistcoat tilde williamsburg cold-pressed pabst retro.
      </div>
    </section>

    <section>
      <a class="header">Who should use Code Shifu?</a>
    </section>

    <section>
      <a class="header">Our Team</a>
      <ul>
        <li>Jeremy Tan</li>
        <li>Waistcoat iPhone lumbersexual fixie jean shorts keffiyeh. Pinterest hoodie chia kogi affogato, lomo quinoa pitchfork. Austin brooklyn brunch, chambray farm-to-table photo booth neutra organic slow-carb ethical everyday carry celiac. Tilde stumptown quinoa, salvia lumbersexual offal knausgaard 8-bit whatever letterpress tacos typewriter.</li>
        <li>Jared Tong</li>
        <li>Waistcoat iPhone lumbersexual fixie jean shorts keffiyeh. Pinterest hoodie chia kogi affogato, lomo quinoa pitchfork. Austin brooklyn brunch, chambray farm-to-table photo booth neutra organic slow-carb ethical everyday carry celiac. Tilde stumptown quinoa, salvia lumbersexual offal knausgaard 8-bit whatever letterpress tacos typewriter.</li>
        <li>Jerry Tan</li>
        <li>Waistcoat iPhone lumbersexual fixie jean shorts keffiyeh. Pinterest hoodie chia kogi affogato, lomo quinoa pitchfork. Austin brooklyn brunch, chambray farm-to-table photo booth neutra organic slow-carb ethical everyday carry celiac. Tilde stumptown quinoa, salvia lumbersexual offal knausgaard 8-bit whatever letterpress tacos typewriter.</li>
      </ul>
    </section>

  </div>
</template>
