<template name="dashboard">
 <!-- {{ currentUser }} -->
 <div class="dash-pic"><img src="{{pic}}"></div>
 {{#if currentUser}}
 <div>Welcome, {{ currentUsername }}.</div>
 {{ profileExistsMessage }}
 {{#unless checkTutorProfileExists}}
 {{> tutorProfileCreate }}
 {{/unless}}
 {{> accountInfo }}
 {{> skillSet }}
 {{> tutorProfileCreateSkill }}
 {{else}}
  {{ signupMessage }}
 {{/if}}
 <!-- <div class="input-field col s6">
   {{> inputAutocomplete settings=settings class="validate" placeholder="Skill Name"}}
</div> -->
 <!-- {{#textareaAutocomplete settings=settings id="msg"}}
     {{myStartingText}}
 {{/textareaAutocomplete}} -->
</template>
