<template name="dashboard">
 <!-- {{ currentUser }} -->
 <div class="dash-pic"><img src="{{pic}}"></div>
 {{#if currentUser}}
 <div>Welcome, {{ currentUsername }}.</div>
 {{ profileExistsMessage }}
 {{#unless checkTutorProfileExists}}
 {{> tutorProfileCreate }}
 {{/unless}}
 {{> accountInfo }}
 {{> skillSet }}
 {{> tutorProfileCreateSkill }}
 {{else}}
  {{ signupMessage }}
 {{/if}}

 {{> inputAutocomplete settings=settings id="msg" class="input-xlarge" placeholder="Chat..."}}
 {{#textareaAutocomplete settings=settings id="msg"}}
     {{myStartingText}}
 {{/textareaAutocomplete}}
</template>
