<template name="tutorProfileCreateSkill">
  <div class="row">
  <form class="col s12 m10 push-m1 l6 push-l3">
    <div class="row" id="new-skill">

      <div class="input-field col s6">
        <input type="text" name="skillname" value="" placeholder="" id="skillname" class="validate">
        <label for="Skillname">Skill Name</label>
        <!-- <span class="help-block">{{errorMessage 'first_name'}}</span> -->
      </div>

      <div class="input-field col s6">
        <input type="text" name="proficiency" value="" id="proficiency" class="validate" placeholder="">
        <label for="proficiency">Proficiency</label>
        <!-- <span class="help-block">{{errorMessage 'last_name'}}</span> -->
      </div>

      <div class="input-field col s6">
        <input type="text" name="price" value="" id="price" class="validate" placeholder="">
        <label for="price">Price per Hour</label>
        <!-- <span class="help-block">{{errorMessage 'profileEmail'}}</span> -->
      </div>

      <div class="input-field col s6">
        <input type="text" name="tools" value="" id="tools" class="validate" placeholder="">
        <label for="tools">Tools and Frameworks</label>
        <!-- <span class="help-block">{{errorMessage 'profileEmail'}}</span> -->
      </div>

      <div class="input-field col s12">
        <textarea name="projects" class="materialize-textarea"></textarea>
        <label for="projects">Projects(repository links of current and former projects) </label>
        <!-- <span class="help-block">{{errorMessage 'githubUrl'}}</span> -->
      </div>
      <div class="input-field col s12">
          <textarea name="philosophy" class="materialize-textarea"></textarea>
          <label for="philosophy">Teaching Philosophy</label>
      </div>
    </div>
    <input type="submit" class="btn waves-effect waves-light" value="Add New Skill">
  </form>
  </div>
</template>
