<template name="tutorProfileCreate">
  <div class="row">
  <form class="col s12">
    <div class="row">

      <div class="input-field col s6 {{errorClass 'first_name'}}">
        <input type="text" name="first_name" value="" placeholder="" id="first_name" class="validate">
        <label for="first_name">First Name</label>
        <span class="help-block">{{errorMessage 'first_name'}}</span>
      </div>

      <div class="input-field col s6 {{errorClass 'last_name'}}">
        <input type="text" name="last_name" value="" id="last_name" class="validate" placeholder="">
        <label for="last_name">Last Name</label>
        <span class="help-block">{{errorMessage 'last_name'}}</span>
      </div>
<!-- 
      <div class="input-field col s6 {{errorClass 'profileEmail'}}">
        <input type="text" name="profileEmail" value="" id="profileEmail" class="validate" placeholder="">
        <label for="profileEmail">Email</label>
        <span class="help-block">{{errorMessage 'profileEmail'}}</span>
      </div> -->

      <div class="input-field col s6 {{errorClass 'githubUrl'}}">
        <input type="text" name="githubUrl" value="" id="githubUrl" class="validate" placeholder="">
        <label for="githubUrl">Github URL: </label>
        <span class="help-block">{{errorMessage 'githubUrl'}}</span>
      </div>

      <div class="input-field col s12">
        <textarea id="about_me" class="materialize-textarea"></textarea>
          <label for="about_me">About Me</label>
        <!-- <span class="help-block">{{errorMessage 'githubUrl'}}</span> -->
      </div>
    </div>
    <input type="submit" class="btn waves-effect waves-light" value="Submit">
  </form>
  </div>
</template>
