<template name="tutorProfileCreateSkill">
  <div class="row">
  <form class="col s12">
    <div class="row" id="new-skill">

      <div class="input-field col s6">
        <input type="text" name="skillname" value="" placeholder="" id="skillname" class="validate">
        <label for="Skillname">Skill Name</label>
        <!-- <span class="help-block">{{errorMessage 'first_name'}}</span> -->
      </div>

      <div class="input-field col s6">
        <input type="text" name="proficiency" value="" id="proficiency" class="validate" placeholder="">
        <label for="proficiency">proficiency</label>
        <!-- <span class="help-block">{{errorMessage 'last_name'}}</span> -->
      </div>

      <div class="input-field col s6">
        <input type="text" name="profileEmail" value="" id="profileEmail" class="validate" placeholder="">
        <label for="profileEmail">Email</label>
        <!-- <span class="help-block">{{errorMessage 'profileEmail'}}</span> -->
      </div>

      <div class="input-field col s6">
        <input type="text" name="githubUrl" value="" id="githubUrl" class="validate" placeholder="">
        <label for="githubUrl">Github URL: </label>
        <!-- <span class="help-block">{{errorMessage 'githubUrl'}}</span> -->
      </div>
    </div>
    <input type="submit" class="btn waves-effect waves-light" value="Add New Skill">
  </form>
  </div>
</template>
