<head>
  <title>Code Shifu | Find Your Programming Mentor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Live Chat Widget powered by https://keyreply.com/chat/ -->
<script id="keyreply-script" src="//keyreply.com/chat/widget.js" data-color="#009688" data-apps="JTdCJTIycGhvbmUlMjI6JTIyOTMzOTkxNTElMjIsJTIyZW1haWwlMjI6JTIyc3VwcG9ydEBjb2Rlc2hpZnUuY29tJTIyJTdE"></script>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Code Shifu</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="about.html">About</a></li>
        <li><a href="{{pathFor 'tutorProfileCreate'}}">Create Tutor Profile</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{> loginButtons align="right"}}
      </ul>
    </div>
  </nav>

</body>

<template name="layout">
  {{> yield}}
</template>
