body {
  color: #eee;
  background: #fff;
}

nav {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  color: #263238;
  z-index: 1;
  position: absolute;
  top:0;
}

nav .brand-logo {
  color: #263238;
  text-transform: uppercase;
  letter-spacing: 3px;
}

header {
  width: 100vw;
  height: 55vh;
  background: linear-gradient(rgba(255,255,255,0.1),
	 rgba(255,255,255,0.4)),
	  url('../images/headerWatercolour.jpg');
  background-size: 100vw auto;
  background-repeat: no-repeat;
  overflow-y: scroll;
  background-position: center top;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}

.search-container {
  position:relative;
  margin: 0 auto;
}

.search-bg {
  background-image: url('../images/headerWatercolour.jpg');
  background-repeat: no-repeat;
  background-size: 100vw auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  background-position: center -200px;
  -webkit-filter: blur(5px);
  filter: url('../images/blur.svg');
  filter: blur(5px);
  padding: 20px 80px;
}

.search-input {
  position: relative;
  z-index: 100;
  padding: 20px;
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.5);
}

.search-input label {
  position: absolute;
  bottom: 70px;
  left: 80px;
}

#search-box {
  cursor: pointer;
  margin: 0 auto 20px;
  width: 24rem;
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  font-size: 24px;
  text-align: center;
  box-sizing: border-box;
  padding: .375em .75em;
  transition: border 150ms ease-in, box-shadow 150ms ease-in;
  border: none;
  color: #263238;
}

header input::-webkit-input-placeholder,
header input:-moz-placeholder,
header input::-moz-placeholder,
header input:-ms-input-placeholder {
   color: #263238;
}

header input[type=text]:focus:not([readonly]) {
  border-bottom: 2px solid #333;
  box-shadow: 0 2px 0 0 #333;
}

.filters {
  width: 100vw;
  height: 100px;
  background-color: #242424;
  align-items: center;
  justify-content: space-around;
}

.container {
  max-width: 960px;
  min-width: 300px;
  width: 90vw;
  margin: 0 auto;
}
.jumbotron {
  padding: 100px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  color: #222;
  background-color: #eee;
  border-radius: 10px;
  font-family: "Helvetica Neue Ultra Light", "Helvetica Neue", "Arial Narrow", "Arial", sans-serif;
}
h1 {
  line-height: 1;
}
p {
  line-height: 1.4;
}
button {
  background: #eee;
  padding: 10px 20px;
}

.alert { /* could not find Materialize alert */
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#spinner {
  height: 300px;
}

.btn#load-more {
  width: 100%;
  height:auto;
  padding:25px;
}

.profile-picture {
  margin: -100px auto 0 auto;
  transition: bottom .3s;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(136,153,166,0.15);
  height: 200px;
  width: 200px;
}

.skill-row {
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-bottom: 20px;
}

.skill-row .skill-card {
  width: 33%;
  border-radius: 10px;
}

.btn-floating.btn-xlarge {
  width:80px;
  height:80px;
  line-height:80.5px;
}

.btn-floating.btn-xlarge i {
  line-height:80px;
}

.profile-edit-container {
  margin-top: 64px;
}
