<template name="home">
  <header class="valign-wrapper">
      <div class="valign search-container">
        <div class="search-bg"></div>
        <div class="search-input">
          <h3 class="blue-grey-text text-darken-4">Code your destiny.</h3>

          {{> testSearchBox}}
        </div>
      </div>

  </header>

  <div class="filters valign-wrapper">
    {{> javascriptFilterBtn}}
  </div>
<!-- {{#each tutorprofiles}}
{{ name }}
{{/each}} -->
  {{> testSearchResult}}
  <!-- {{> tutorList}} -->

</template>

<template name="javascriptFilterBtn">
  <a id="reset-filter-btn" class="valign waves-effect waves-light btn blue-grey">All</a>
  <a id="js-filter-btn" class="valign waves-effect waves-light btn blue-grey">Javascript</a>
  <a id="html-filter-btn" class="valign waves-effect waves-light btn blue-grey">HTML</a>
  <a id="mongodb-filter-btn" class="valign waves-effect waves-light btn blue-grey">MongoDB</a>
</template>
